div.repo-list
  h3.title(v-if="username") GitHub repositories of
    strong  {{ username }}

  ul.list(v-if="list.length")
    li(v-for="repo in list")
      a(:href="repo.html_url") {{ repo.name }}
      span(v-if="repo.homepage")  (
        a(:href="repo.homepage") homepage
        | )
      span(v-if="repo.language")  - {{ repo.language }}
  p.message(v-else-if="message") {{ message }}
