div.repo-list
  h3(v-if="username") GitHub repositories of {{ username }}

  ul(v-if="list.length")
    li(v-for="repo in list")
      a(:href="repo.html_url") {{ repo.name }}
  div(v-else)
    p(v-if="username") No repositories.
